// Colors
$text-color: #868686;
$heading-color: #C5C6C6;
$bg-light: #f9f9f9;
$bg-dark: #181818;
$border-color: #e5e5e5;
$border-color-dark: #313131;
$main-color: #868686;
$secondary-color: #007777;
$meta-color: #0F9696;
$link-color: #000;


// Fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Barlow', sans-serif;


// Navbar
$nav-height: 95px;
$nav-short-height: 60px;